{% extends 'base.html' %}


{% block nav %}

{% if user.is_authenticated %}
Hello, {{ user.username }}
<a href="{% url "recipe_list" %}">All Recipes</a>
<a href="{% url 'user_logout' %}">Logout</a>
<a href="{% url 'my_recipe_list' %}">My recipes</a>
{% else %}
<a href="{% url "recipe_list" %}">All Recipes</a>
<a href="{% url 'user_login' %}">Login</a>
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock nav %}

{% block content %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
{% endblock content %}
