{% extends 'base.html' %}

{%block nav%}

{% if user.is_authenticated %}
Hello, {{ user.username }}
<a href="{% url "recipe_list" %}">All Recipes</a>
<a href="{% url 'create_recipe' %}">Add a Recipe</a>
<a href="{% url 'user_logout' %}">Logout</a>
<a href="{% url 'my_recipe_list' %}">My recipes</a>
<a href="{% url "edit_recipe" recipe_object.id %}">Edit Recipe</a>
{% else %}
<a href="{% url "recipe_list" %}">All Recipes</a>
<a href="{% url 'user_login' %}">Login</a>
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{%endblock nav%}

{%block title%}Dat Reccy{%endblock title%}

{%block content%}




<h1 class="Veg-Tacos">{{ recipe_object.title }}</h1>
<img  id="animation" src="{{ recipe_object.picture }}" alt="vegetarian tacos"
width = "200"
height = "200">
<div class="ratings">4.3 stars</div>
<p> {{ recipe_object.description }} </p>
<h2> Ingredients</h2>
<table>
    <thead>
        <tr>
            <th>Amount</th>
            <th>Food Item</th>
        </tr>
    </thead>
    <tbody>
            {% for ingredient in recipe_object.ingredients.all %}
                <tr>
                    <td> {{ ingredient.amount }} </td>
                    <td> {{ ingredient.food_item }} </td>
                </tr>
            {% endfor %}
    </tbody>
</table>
<h2>Steps</h2>
<ol>
    {% for step in recipe_object.steps.all %}
        <li> {{ step.instruction }} </li>
    {% endfor %}
</ol>

{%endblock content%}
