
{% extends 'base.html' %}
{%load static%}
{%block content%}

{%block title%}Change up{%endblock title%}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Update</button>
</form>


{%endblock content%}
