{% extends 'base.html' %}


{%block nav%}


{% if user.is_authenticated %}
Hello, {{ user.username }}
<a href="{% url "recipe_list" %}">All Recipes</a>
<a href="{% url 'create_recipe' %}">Add a Recipe</a>
<a href="{% url 'user_logout' %}">Logout</a>
<a href="{% url 'my_recipe_list' %}">My recipes</a>
{% else %}
<a href="{% url 'user_login' %}">Login</a>
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{%endblock nav%}








{%block title%}Scrumptious Recipes{%endblock title%}

{%block content%}

<h1 id="main-title">Scrumptious Recipes</h1>
<h2 id="sub-title">All food that's fit to eat</h2>
<div id="recipe-grid">
    {% for recipe in recipe_list %}
    <div>
        <h3 class="Veg-Tacos"><a href={% url 'details' recipe.id %}>{{recipe.title}}</a></h3>
        <img src={{ recipe.picture }} alt="{{ recipe.title }}"
        width = "200"
        height = "200">

        <div class="ratings">4.3 stars</div>
        <div> {% if recipe.gluten_free == True %}Gluten Free {% else %}Not Gluten Free
    {% endif %}
        </div>
    </div>
    {% endfor %}
</div>


{%endblock content%}
