{% extends 'base.html' %}

{% block title %}
Login! - Scrupmtious Recipes
{% endblock title %}

{% block nav %}
<a href="{% url 'recipe_list' %}">Main Page</a>
{% endblock nav %}

{% block content %}
<h1>Login</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Submit</button>
</form>
{% endblock content %}
