@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: remove;
    padding: remove;
    font-family: 'Roboto', sans-serif;
}

hr {
    height : 2px;
    background-color : black;
    border : black;

}

title {
    color: green
}

main{
    padding: 16px;
}

footer{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    position: sticky;
    bottom: 10px;
    background-color: rgb(24, 180, 215);
}

img{
    height: 200px;
}

nav {
    border: 1px, black;
    padding: 16px;
}

a {
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
    box-shadow: 10px 5px 5px red;
  }

a:hover {
    color: green;
    font-weight: bold;
    background-color: rgb(117, 224, 229);
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    transition-delay: 0.25s;
}

header {
    background-color: orange;
    text-shadow: rgba(0, 0, 0, 0.465) 1px 0 10px;
}

#recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#main-title {
    grid-row-start: 1;
    grid-template-columns: 1;
    color: green;
}

#sub-title {
    grid-row-start: 2;
}

tr:nth-child(even){
    background-color: lightgrey;
}

.ratings {
    font-weight: bold;
    font-variant: small-caps;
}

.Veg-Tacos {
    text-shadow: pink 1px 0 10px;
}
